@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

:root {
  --radius: 0.5rem;
}

@theme inline {
  /* Colors */
  --color-primary-100: #ffe8f0;
  --color-primary: #ee2b69;
  --color-secondary: #fbe843;

  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black: #000000;

  --color-white-100: #f7f7f7;
  --color-white: #ffffff;

  /* Font Families */
  --font-work-sans: var(--font-work-sans);

  /* Breakpoints */
  --breakpoint-xs: 475px;

  /* Border Radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Box Shadows */
  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@utility flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@utility text-30-extrabold {
  font-size: 30px;
  font-weight: 800;
  color: var(--color-white);
}

@utility text-30-bold {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
}

@utility text-30-semibold {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-black);
}

@utility text-26-semibold {
  font-size: 26px;
  font-weight: 600;
  color: var(--color-black);
}

@utility text-24-black {
  font-size: 24px;
  font-weight: 900;
  color: var(--color-black);
}

@utility text-20-medium {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
}

@utility text-16-medium {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
}

@utility text-14-normal {
  font-size: 14px;
  font-weight: 400;
  color: rgb(247 247 247 / 0.8);
}

@utility pink_container {
  width: 100%;
  background-color: var(--color-primary);
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

@utility tag {
  background-color: var(--color-secondary);
  padding: 0.75rem 1.5rem;
  font-family: var(--font-work-sans);
  font-weight: 700;
  border-radius: 0.125rem;
  text-transform: uppercase;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-top: 10px solid var(--color-black);
    border-right: 10px solid transparent;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-bottom: 10px solid var(--color-black);
    border-left: 10px solid transparent;
  }
}

@utility heading {
  text-transform: uppercase;
  background-color: var(--color-black);
  padding: 0.75rem 1.5rem;
  font-family: var(--font-work-sans);
  font-weight: 800;
  color: var(--color-white);
  font-size: 36px;
  line-height: 46px;
  max-width: 80rem;
  text-align: center;
  margin: 1.25rem 0;
  @media (min-width: 640px) {
    font-size: 54px;
    line-height: 64px;
  }
}

@utility sub-heading {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-white);
  max-width: 42rem;
  text-align: center;
  word-break: break-word;
}

@utility section_container {
  padding: 2.5rem 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

@utility card_grid {
  display: grid;
  gap: 1.25rem;
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@utility card_grid-sm {
  display: grid;
  gap: 1.25rem;
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@utility no-result {
  color: var(--color-black-100);
  font-size: 14px;
  font-weight: 400;
}

@utility profile_container {
  width: 100%;
  padding: 5rem 1.5rem 2.5rem;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

@utility profile_card {
  width: 20rem;
  padding: 5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border: 5px solid var(--color-black);
  box-shadow: var(--shadow-100);
  border-radius: 30px;
  position: relative;
  z-index: 0;
  height: fit-content;
  @media (max-width: 1023px) {
    width: 100%;
  }
}

@utility profile_title {
  width: 91.666667%;
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  position: absolute;
  top: -2.25rem;
  box-shadow: var(--shadow-100);
  &::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    right: 0;
    transform: skewY(-6deg);
    background-color: var(--color-black);
    z-index: -1;
    border-radius: 20px;
    width: 100%;
    height: 60px;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    transform: skewY(-6deg);
    width: 100%;
    height: 60px;
    background-color: var(--color-black);
    z-index: -1;
    border-radius: 20px;
  }
}

@utility profile_image {
  border-radius: 9999px;
  object-fit: cover;
  border: 3px solid var(--color-black);
}

@utility divider {
  border-style: revert;
  background-color: rgb(161 161 170);
  max-width: 56rem;
  margin: 2.5rem auto;
}

@utility view_skeleton {
  background-color: rgb(161 161 170);
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

@utility avatar {
  padding: 0 !important;
  background: none !important;
  border-radius: 9999px !important;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)) !important;
}

@utility dropdown-menu {
  width: 14rem !important;
  border: 5px solid var(--color-black) !important;
  background-color: var(--color-white) !important;
  padding: 1.25rem !important;
  border-radius: 1rem !important;
}

@utility login {
  border: 5px solid var(--color-black) !important;
  padding: 1rem !important;
  background-color: var(--color-white) !important;
  color: var(--color-black) !important;
  position: relative !important;
  box-shadow: var(--shadow-100) !important;
  font-family: var(--font-work-sans) !important;
  font-weight: 500 !important;
  transition: all 500ms !important;
  &:hover {
    box-shadow: none !important;
  }
}

@utility search-form {
  max-width: 48rem;
  width: 100%;
  min-height: 80px;
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  border-radius: 80px;
  font-size: 24px;
  margin-top: 2rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

@utility search-input {
  flex: 1;
  font-weight: 700;
  width: 100%;
  height: auto;
  outline: none;
  &::placeholder {
    font-weight: 600;
    color: var(--color-black-100);
  }
}

@utility search-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 9999px !important;
  background-color: var(--color-black) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@utility startup-card {
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  padding: 1.5rem 1.25rem;
  border-radius: 22px;
  box-shadow: var(--shadow-200);
  transition: all 500ms;
  &:hover {
    border-color: var(--color-primary);
    box-shadow: var(--shadow-300);
    background-color: var(--color-primary-100);
  }
}

@utility startup-card_date {
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-primary-100);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  .group:hover & {
    background-color: var(--color-white-100);
  }
}

@utility startup-card_desc {
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0.75rem 0;
  color: var(--color-black-100);
  word-break: break-all;
}

@utility startup-card_img {
  width: 100%;
  height: 164px;
  border-radius: 10px;
  object-fit: cover;
}

@utility startup-card_btn {
  border-radius: 9999px !important;
  background-color: var(--color-black-200) !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: var(--color-white) !important;
  padding: 0.75rem 1.25rem !important;
}

@utility startup-card_skeleton {
  width: 100%;
  height: 24rem;
  border-radius: 22px;
  background-color: rgb(161 161 170);
}

@utility startup-form {
  max-width: 42rem;
  margin: 2.5rem auto;
  background-color: var(--color-white);
  padding: 0 1.5rem;
  & > * + * {
    margin-top: 2rem;
  }
}

@utility startup-form_label {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
  text-transform: uppercase;
}

@utility startup-form_input {
  border: 3px solid var(--color-black) !important;
  padding: 1.75rem 1.25rem !important;
  font-size: 18px !important;
  color: var(--color-black) !important;
  font-weight: 600 !important;
  border-radius: 9999px !important;
  margin-top: 0.75rem !important;
  &::placeholder {
    color: var(--color-black-300) !important;
  }
}

@utility startup-form_textarea {
  border: 3px solid var(--color-black) !important;
  padding: 1.25rem !important;
  font-size: 18px !important;
  color: var(--color-black) !important;
  font-weight: 600 !important;
  border-radius: 20px !important;
  margin-top: 0.75rem !important;
  &::placeholder {
    color: var(--color-black-300) !important;
  }
}

@utility startup-form_error {
  color: rgb(239 68 68);
  margin-top: 0.5rem;
  margin-left: 1.25rem;
}

@utility startup-form_editor {
  margin-top: 0.75rem !important;
  border: 3px solid var(--color-black) !important;
  font-size: 18px !important;
  color: var(--color-black) !important;
  font-weight: 600 !important;
  &::placeholder {
    color: var(--color-black-300) !important;
  }
}

@utility startup-form_btn {
  background-color: var(--color-primary) !important;
  border: 4px solid var(--color-black) !important;
  border-radius: 9999px !important;
  padding: 1.25rem !important;
  min-height: 70px !important;
  width: 100% !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

@utility view-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.25rem;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

@utility view-text {
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-primary-100);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

@utility category-tag {
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-primary-100);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.w-md-editor-toolbar {
  padding: 10px !important;
}
